.layout {
  min-height: 100%;

  .header {
    padding-bottom: 1em;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }

  .main-content {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
  }
}